<div class="ui container padding-2-percentage">
  <form>
    <div class="ui card centered fluid">
      <div class="content">
        <div class="header">Record</div>
      </div>
      <div class="content">
        <h4 class="ui header">Amount</h4>
        <div class="ui labeled input">
          <label for="amount" class="ui label"><i class="money bill alternate outline icon"></i></label>
          <input type="text" [(ngModel)]="amount" name="amount" spellcheck="false" data-ms-editor="true" maxlength="10">
        </div>
        <h4 class="ui header">Category</h4>
        <div class="ui labeled input">
          <label for="category" class="ui label"><i class="edit icon"></i></label>
          <select [(ngModel)]="category" name="category" class="ui search dropdown">
            <option *ngFor="let category of categoryList" value="{{ category }}">{{ category }}</option>
          </select>
        </div>
      </div>
      <div class="extra content">
        <button (click)="submit()" class="ui primary button">Submit</button>
        <button type="reset" class="ui button">Clear</button>
      </div>
    </div>
  </form>
</div>
