<div class="ui one column grid container center aligned">
  <div class="column">
    <p id="logo"><i class="fire icon"></i>{{title}}</p>
  </div>
  <div class="mini ui buttons right floated">
    <button class="ui button">Language / भाषा:</button>
    <button class="ui button" [ngClass]="{'blue': enFlag}" (click)="en()">English</button>
    <button class="ui button" [ngClass]="{'blue': hiFlag}" (click)="hi()">हिन्दी</button>
  </div>
  <div class="column">
    <button class="ui secondary button" (click)="loginOrSignUp()">{{ i18n.getText("1") }}</button>
  </div>
  <div class="column">
    <img src="assets/img/login.png" class="ui fluid big centered image" />
  </div>
</div>
